body {
    font-family: 'Epilogue', sans-serif;
    background-color: #F7FAFC;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.hero-content {
    text-align: center;
}

.hero h2 {
    font-weight: bold;
    font-size: 24px;
    margin: 0 0 10px;
}

.hero p {
    margin: 0 0 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.features {
    margin-top: 40px;
}

.features h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.features p {
    margin-bottom: 20px;
    text-align: center;
}

.feature-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feature-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
}

.feature-item h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.feature-item img {
    max-width: 100%;
    border-radius: 8px;
}

.awards {
    margin-top: 40px;
    text-align: center;
}

.awards a {
    text-decoration: none;
    color: #007bff;
}

footer {
    margin-top: 40px;
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
}

footer a {
    text-decoration: none;
    color: #007bff;
    margin-left: 10px;
}

.linkedin-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-left: 10px;
}

@media (min-width: 768px) {
    .hero {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .hero-content {
        text-align: left;
        margin-left: 20px;
    }

    .feature-grid {
        flex-direction: row;
    }
}
